<!-- String Interpolation -->
<div>
  <p>Using String Interpolation</p>
  <h2> {{ "Title: " + title }} </h2>
  <img src="{{ imgUrl }}" width="250px"/>
</div>

<!-- Property binding -->
<div>
  <p>Using Property Binding</p>
  <h2 [textContent] = "'Title: ' + title" ></h2>
  <img [src]="imgUrl" width="250px"/> 
</div>

<table>
  <tr>
    <!--<td [colspan] = "colSpan"></td> This prop binding doesn't work -->
    <td [attr.colspan] = "colSpan"></td> <!-- Attribute binding -->
  </tr>
</table>

<!-- String interpolation -->
<div>
  <h3>{{ "Length of Title is " + getLength() }}</h3>
  <ul>
    <li *ngFor="let author of authors">{{ author }}</li>
  </ul>
  <ul>
    <li *ngFor="let author of anotherAuthors">{{ author }}</li>
  </ul>
</div>

 <!-- added a bootstap style to button and class binding -->
<button class="btn btn-secondary" [class.active] = 'isActive'>Cancel</button>

<!-- Style binding -->
<button class="btn" [style.backgroundColor] = "isActive? 'blue' : 'grey'">Save</button>
<br><br>

<!-- Event binding $event is optional -->
<div (click)="onDivClick()">
  <button class="btn" (click)="onClick($event)">Clcik Me</button>
</div>
<br>

<!-- Event filtering $event is optional 
<input (keyup)="onKeyUp($event)"/>-->
<input (keyup.enter)="onKeyUp()"/>
<br><br>

<!-- Template Variable -->
<input #name (keyup.enter)="onEnter(name.value)"/>
<br><br>

<!-- Two way binding -->
<!-- input [value]="email" (keyup.enter)="onTwoWay()"/> <!-- simple way template variable -->
<!-- input [value]="email" (keyup.enter)="email = $event.target.value; onTwoWay()"/> <!-- simple way template variable -->
<input [(ngModel)]="email" (keyup.enter)="onTwoWay()"/> <!-- simple way template variable -->
<br>

<!-- Pipes -->
<div>
  {{ details.title | lowercase | uppercase }}<br>
  {{ details.students | number }}<br>
  {{ details.rating | number: '2.2-2' }}<br>
  {{ details.price | currency }}<br>
  {{ details.releaseDate | date: 'shortDate' }}<br>
  {{ details.price | currency: 'AUD':true:'2.2-2' }}
</div>

<!-- Custom Pipes -->
{{ text | summary:10 }}




